root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.java]
indent_size = 4

[*.groovy]
indent_size = 4

[*.py]
indent_size = 4

[*.sh]
indent_size = 4

[*.sql]
indent_size = 2

[*.xml]
indent_size = 4

[*.yml]
indent_size = 2
