<aside>
	<img src="{{ site.baseurl }}/images/logo.png" style="display: block; margin: auto;"/>

	<!-- <div class="panel radius" markdown="1">
		<h3>Sidebar</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div> -->

	{% include _improve_content.html %}

</aside>
