<div class="cluster-details">
    <h3>Cluster Details</h3>
    <table class="table condensed">
        <tr>
            <td><strong>Status</strong></td>
            <td>
                <form class="form-inline">
                    <select data-bind="value: status" class="cluster-status">
                        <option>UP</option>
                        <option>OUT_OF_SERVICE</option>
                        <option>TERMINATED</option>
                    </select>
                    <button data-bind="visible: status()!==originalStatus, click: updateStatus, enable: objStatus()!=='updating'" class="btn btn-small btn-primary">Update</button>
                </form>
            </td>
        </tr>
        <tr>
            <td><strong>Name</strong></td>
            <td data-bind="text: name"></td>
        </tr>
        <tr>
            <td><strong>Id</strong></td>
            <td data-bind="text: id"></td>
        </tr>
        <tr>
            <td><strong>Create Time</strong></td>
            <td><span data-bind="text: created"></span> (<span data-bind="text: created"></span>)</td>
        </tr>
        <tr>
            <td><strong>Update Time</strong></td>
            <td><span data-bind="text: updated"></span> (<span data-bind="text: updated"></span>)</td>
        </tr>
        <tr>
            <td><strong>User</strong></td>
            <td data-bind="text: user"></td>
        </tr>
        <tr>
            <td><strong>Version</strong></td>
            <td data-bind="text: version"></td>
        </tr>
        <tr>
        	<td><strong>Configs</strong></td>
        	<td>
        		<table>
                	<tbody data-bind="foreach: configs">  
                    	<tr>   
                        	<td data-bind="text:$data"></td>
                        </tr>
                    </tbody>
        		</table>
       		</td>
        </tr>
        <tr>
            <td><strong>Tags</strong></td>
            <td data-bind="text: tags"></td>
        </tr>     	    
    </table>
</div>