<h3>Search Jobs</h3>
<form class="form-horizontal search-form" id="jobSearchForm" data-bind="submit: Job.search">
    <div class="control-group">
        <label class="control-label">Username:</label>
        <div class="controls">
            <input type="text" name="userName" class="input-large">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Job Type:</label>
        <div class="controls">
            <select name="jobType">
                <option></option>
                <option>Pig</option>
                <option>Hive</option>
                <option>Hadoop</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Status:</label>
        <div class="controls">
            <select name="status">
                <option></option>
                <option>Running</option>
                <option>Succeeded</option>
                <option>Failed</option>
                <option>Killed</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Job ID (Pattern):</label>
        <div class="controls">
            <input type="text" name="jobID" class="input-large">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Job Name (Pattern):</label>
        <div class="controls">
            <input type="text" name="jobName" class="input-large">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Number of jobs:</label>
        <div class="controls">
            <input type="text" name="limit" class="input-mini" maxlength=3 value="32">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button data-bind="click: Job.search" type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
